*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.2rem;
}
body{
  padding: 2rem;
}
.inputfields{
  display:flex;
  flex-direction: column;
  margin: 1.5rem 0;
}

input[type="email"]{
  width: 60%;
}

input[type="password"]{
  width:40%;
}