*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.2rem;
}
body{
  padding: 2rem;
}
.inputfields{
  display:flex;
  flex-direction: column;
  margin: 1.5rem 0;
}

input[type="email"]{
  width: 60%;
}

input[type="password"]{
  width:40%;
}

.otpinput{
  display:flex;
  margin: 1.5rem 0;
  justify-content: center;
}

.otpinput input[type='text']{
  width:5%;
  margin-right:3%;
  text-align: center;
}

.submit a{
  text-decoration: none;
  color:darkgreen;
  padding: 3px;
}