*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.2rem;
}
body{
  padding: 2rem;
}
.inputfields{
  display:flex;
  flex-direction: column;
  margin: 1.5rem 0;
}

input[type="email"]{
  width: 60%;
}

input[type="password"]{
  width:40%;
}

/* #number{
  padding-left: 15px;
  letter-spacing: 42px;
  border: 0;
  background-image: linear-gradient(to left, black 70%, rgba(255, 255, 255, 0) 0%);
  background-position: bottom;
  background-size: 50px 1px;
  background-repeat: repeat-x;
  background-position-x: 35px;
  width: 220px;
  min-width: 220px;
} */
.otpinput{
  display:flex;
}

.otpinput input[type='text']{
  width:5%;
  margin-right:3%;
  text-align: center;
}